* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

.home {
  width: 100%;
  height: 100vh;
  
}
.home_content {
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 1;
}


.home_text {
  width: 700px;
  position: absolute;
  top: 14rem;
  left: 16.25rem;
  color: rgb(114, 189, 214);
  
}

.home_text h1 {
  font-size: 4.375rem;
  line-height: 5rem;
  font-weight: 900;
  font-family: "Audiowide";
  letter-spacing: 0.15em;
}

.home_text p {
  font-size: 1.97rem;
  text-align: justify;
  font-family: "abel";
}

.home_text .home_discription {
  font-size: 1.5rem;
  margin-top: 0.81rem;
  font-style: italic;


}
.btn_home {
  margin-top: 0.625rem;
  padding: 12px 50px;
  background-color: #fff;
  border-radius: 2.5rem;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgb(63, 134, 158);
}

.btn_home:hover {
  /* background-color:rgb(63, 134, 158) ; */
  font-weight: 900;
  box-shadow: 0px 4px 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  transition-timing-function: ease-in;
}

.fa-arrow-right {
  margin-left: 1.25rem;
  color: rgb(63, 134, 158);
}

.carousel-inner {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.carousel-item {
  width: 100%;
  height: 100vh;
} 

.carousel-item img{
  height: 100%;
}
/* media Querry */

@media screen and (max-width:1025px){
.home{
  width: 100%;
  height: auto;
}
.home_text{
width: 500px;
left: 10rem;
}
.home_text h1{
font-size: 2.6rem;
}

.home_text p{
font-size:1.3rem
}

.btn_home {
  margin-top: 0.500rem;
  padding: 10px 40px;
  font-size: 25px;
}
}

@media screen and (max-width:776px){
  .home{
    width: 100%;
    height: auto;
  }
  .home_text{
  width: 500px;
  left: 6rem;
  }
  .home_text h1{
  font-size: 2.3rem;
  }
  
  .home_text p  {
  font-size:1rem
  }
  .home_text .home_discription{
    font-size: 1.2rem;
  }
  .btn_home {
    margin-top: 0.400rem;
    padding: 8px 30px;
    font-size: 22px;
  }
  }

  @media screen and (max-width:670px){
    .home{
      width: 100%;
      /* height: 90vh; */
    }
    .home_text{
    width: 400px;
    left: 4.8rem;
    }
    .home_text h1{
    font-size: 2.1rem;
    }
    
    .home_text p {
    font-size:0.7 rem
    }
    .home_text .home_discription{
      font-size: 1rem;
    }
    .btn_home {
      margin-top: 0.400rem;
      padding: 6px 20px;
      font-size: 19px;
    }
    }


  @media screen and (max-width:500px){
    .home{
      width: 100%;
    }
    .home_text{
    width: 350px;
    left: 3.1rem;
    }
    .home_text h1{
    font-size: 1.7rem;
    }
    
    .home_text p {
    font-size:0.5rem
    }
    .home_text .home_discription{
      font-size: 0.7rem;
    }
    .btn_home {
      margin-top: 0.400rem;
      padding: 5px 12px;
      font-size: 16px;
    }
    }

    @media screen and (max-width:430px){
      .home{
        width: 100%;
      }
      .home_text{
      width: 350px;
      left: 3rem;
      }
      .home_text h1{
      font-size: 1.6rem;
      }
      
      .home_text p {
      font-size:0.4rem
      }
      .home_text .home_discription{
        font-size: 0.5rem;
      }
      .btn_home {
        margin-top: 0.350rem;
        padding: 4px 10px;
        font-size: 14px;
      }
      }

    @media screen and (max-width:410px){
      .home{
        width: 110%;
      }
      .home_text{
      width: 350px;
      left: 3rem;
      }
      .home_text h1{
      font-size: 1.6rem;
      }
      
      .home_text p {
      font-size:0.3rem
      }
      .home_text .home_discription{
        font-size: 0.4rem;
      }
      .btn_home {
        margin-top: 0.350rem;
        padding: 4px 10px;
        font-size: 14px;
      }
      .car-btn1{
        margin-left: 1rem;
      }
      .car-btn2{
        margin-right: 1rem;
      }
      }