.footer-hr {
  width: 60px;
  background-color: #7c4dff;
  height: 2px;
}

.email-icon{
  color:#fff;
  margin-left:3rem;
  margin-bottom:1rem;
}
.email-link{
  color:#fff;
  cursor:pointer;
  text-decoration: none;
  margin-left:0.5rem;
}